<div class="row" ng-cloak>
    <a id="section1"></a>
    <div id="headerSection" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="center-div">
            <img class="spinner" ng-src="{{homeCtrl.getSpinner().url}}">
        </div>
        <div class="centerInDiv row" center-element>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                <img id="brandLogo" ng-src="{{section1Ctrl.getBrandLogo().url}}"/>
            </div>
            <div id="headerSectionHeading" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" >
                {{section1Ctrl.brandName}}
            </div>
            <div class="descRow row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-2"></div>
                <div id="headerSectionDesc" class="col-lg-6 col-md-6 col-sm-6 col-xs-8 text-center">
                    {{section1Ctrl.section1Desc}}
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-2"></div>
            </div>
        </div>
        <div class="arrowDiv col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <a ng-click="section1Ctrl.goToNextSection()" href="">
                <img class="arrow" ng-src="{{homeCtrl.getWhiteArrow().url}}" center-horizontal>
            </a>
        </div>
    </div>
</div>
