/*Section3*/
/*X-small Height Screens*/
@media (max-height: 310px) {
    img#section3Image {
        max-height: 100px;
        width: auto !important;
        margin-top: -25px;
    }
    
    img.arrow {
        bottom: 0;
        margin-bottom: 5px;
    }
}

/*X-Small Screens*/
@media (max-width: 767px) {
    div#section3Desc {
        font-size: 15px;
        font-weight: bold;
    }
    
    img#section3Image {
        width: 80%;
    }
}

/*Small Screens*/
@media (min-width: 768px) and (max-width: 991px) {
    div#section3Desc {
        font-size: 19px;
        font-weight: bold;
    }
    
    img#section3Image {
        max-width: 400px;
        margin-top: -20px;
    }
}

/*Medium Screens*/
@media (min-width: 992px) and (max-width: 1199px) {
    div#section3Desc {
        font-size: 23px;
        margin-top: 5px;
    }
    
    img#section3Image {
        max-width: 400px;
        margin-top: -25px;
    }
}

#section3Image {
    max-height: 400px;
}

#section3Desc {
    color: #414042;
    font-size: 35px;
    font-family: descriptionFont;
    font-weight: lighter;
    margin-top: 3%;
}